* {
  margin: 0;
  padding: 0;
}

/* จัดการแคนวาส (สำหรับภาพพื้นหลัง) */
canvas {
  width: 100%;
  height: auto;
}

/* กำหนด container หลักให้ใช้ flexbox เพื่อจัดตำแหน่ง */
.main {
  width: 100%;
  height: 100vh;
  /* ใช้ความสูงเต็มหน้าจอ */
  display: flex;
  justify-content: center;
  /* จัดให้อยู่ตรงกลางแนวนอน */
  align-items: center;
  /* จัดให้อยู่ตรงกลางแนวตั้ง */
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  canvas {
    width: 100%;
    height: auto;
  }
}